#cost {
  display: none;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

.banner {
  border: 1px solid black;
  padding: 4px;
  margin: 12px;
}
.control-label {
  font-size: medium;
  font-weight:bold;
  font-family:'Times New Roman', Times, serif;
  box-sizing:border-box;
}

h1 {
 text-align: center;
}

.sidebar {
  border: 1px solid black;
  background-color: rgb(177, 174, 174);
}

